@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root styles */
:root {
    /* Colors */
    --clr-pri-cyan : hsl(180, 66%, 49%);
    --clr-pri-violet: hsl(257, 27%, 26%);
    --clr-pri-gray : hsl(225, 33.3%, 95.3%);

    --clr-sec-red : hsl(0, 87%, 67%);

    --clr-neu-gray : hsl(0, 0%, 75%);
    --clr-neu-violet : hsl(257, 7%, 63%);
    --clr-neu-dark-blue : hsl(255, 11%, 22%);
    --clr-neu-dark-violet : hsl(260, 8%, 14%);

}

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
}

img {
    max-width: 100%;
}


.container {
    width: min(90%,1000px);
    margin-inline: auto;
}

.horizontal-line {
    color: var(--clr-neu-violet);
    opacity: 20%;
    width: 100%;
}

/* Headings and Titles */
h1 {
    color: var(--clr-neu-dark-blue);
    font-size: 2rem;
    text-align: center;
    line-height: 1.1;
}

/* Buttons and CTA */
.btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 100px;
    border: none;
    outline: none;
    background-color: var(--clr-pri-cyan);
    color: #fff;
    padding: .7rem 2.2rem;
}

/* Menu Nav */
header {
    margin: 2rem 0;
}

header img {
    max-width: 100px;
}

/* Mobile View */
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .mobile-nav .nav-icon {
    cursor: pointer;
    text-decoration: none;
}

header .mobile-nav .nav-icon i{
    font-size: 1.5rem;
    color: var(--clr-neu-violet);
}

/* Drop Down */
header .mobile-nav {
    position: relative;
}

header .mobile-nav .nav {
    padding: 2rem 1rem;
    background-color: var(--clr-pri-violet);
    border-radius: 10px;

    position: fixed;
    top: 5rem;
    right: 2rem;
    left: 2rem;
    z-index: 10;
}

header .mobile-nav .nav .mobile-nav__list {
    list-style: none;
    text-align: center;
}

header .mobile-nav .nav .mobile-nav__item + .mobile-nav__item{
    margin-top: 2rem;
}

.mobile-nav .nav .horizontal-line {
    margin: 2rem 0;
}

header .mobile-nav .nav .mobile-nav__link {
    text-decoration: none;
    color: #fff;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
}

/* Desktop View */



/* Hero Section */
section.hero {
    background-color: #fff;
    padding: 4rem 0 12rem 0;
}

section.hero img {
    text-align: left;
    position: relative;
    right: 0px;
    min-width: 400px;
}

.hero-text {
    text-align: center;
}

.hero-text .title{
    margin: 2rem 0 1rem 0;
}

.hero-text .hero-text__par {
    font-size: .9rem;
    color: var(--clr-neu-violet);
    text-align: center;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.hero-text {
    text-align: center;
}



/* Shorten Link Section */
section.shortening {
    background-color: var(--clr-pri-gray);
    padding: 4rem 0;
}

section.shortening>.container {
    margin-top: -10rem;
}

section.shortening .shorten-box {
    background-color: var(--clr-pri-violet);
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

section.shortening .shorten-box::before {
    content: url("./images/bg-shorten-mobile.svg");
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.shorten-box>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.shorten-box>form input#url {
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
    padding: 1rem 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: var(--clr-neu-dark-blue);
    margin-bottom: 1rem;
    position: relative;
}

.shorten-box>form.not-valid input#url {
    border: 2px solid var(--clr-sec-red);
    color: var(--clr-sec-red);
}

.shorten-box>form .btn {
    border-radius: 10px;
    font-size: 1.2rem;
}

/* results section */
.shorten-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shorten-results .result-box {
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem 1rem;
    margin-top: 1.5rem;
}

.shorten-results .result-box .submitted-url,
.shorten-results .result-box .shorten-result  {
    font-size: 1rem;
    text-align: left;
}

.shorten-results .result-box .submitted-url {
    color: var(--clr-neu-dark-violet);
    margin-bottom: 1rem;
}

.shorten-results .result-box .shorten-result {
    color: var(--clr-pri-cyan);
    font-weight: 700;
    margin: 1rem 0;
}

.shorten-results .result-box .btn {
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.shorten-results .result-box .btn.copied {
    background-color: var(--clr-pri-violet);
}